@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* default css  start-----------------------------*/
ul {
    list-style: none;
}

html,
body {
    height: 100%;
}



body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* default css end --------- ------------------- */

/* main css start ----------------------------- */
.vdo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.viewport_header {
    position: relative;
    /* height: 100%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;

    span {
        display: block;
        font-size: 10vw;
        letter-spacing: -1.3vw;
    }
}

main {
    background: rgba(black, 0.66);
    color: black;
    position: relative;
    padding: 1rem;
}

/* main css end --------------------------- */












/*nav header start -------------------------------- */
.nav_bg {
    background: #000;
    height: 65px;
    padding: 5px 10px;
}

.logo {
    width: 10%;
}

.nav_bar {
    width: 60%;
}

.nav_bar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav_bar ul li {
    width: 100%;
}

.nav_bar ul li a {
    color: #fff;
    font-size: 15px;
}

.nav_cart {
    width: 10%;
    text-align: center;
}


.profile_btn {
    width: 10%;
}

.btn_customize {
    width: 80%;
    padding: 5px 10px;
    background: none;
    color: orange;
    border: 1px solid orange;
    margin: 0px 20px;
    font-size: 11px;
    transition: all 0.5s;
}

.btn_customize:hover {
    color: #000;
    background: #c2b8b8;

}

.btn_customize2 {
    padding: 8px 20px;
    background: rgb(247, 10, 10);
    color: #fff;
    margin: 20px 0;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    transition: all 0.5s;

}


/* nav header responsive strat ----------------------- */
@media screen and (max-width:570px) {

    .logo {
        width: 20%;
    }

    .nav_cart {
        width: 20%;
    }

    .profile_btn {
        width: 20%;
    }
}

@media screen and (max-width:580px) {
    .logo {
        width: 20%;
    }

    .nav_cart {
        width: 20%;
    }

    .profile_btn {
        width: 30%;
    }
}

@media screen and (max-width:780px) {
    .btn_customize {
        padding: 5px 10px;
    }

    .nav_bar ul {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .btn_customize {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media screen and (max-width:980px) {
    .profile_btn {
        width: 30%;
    }
}

@media screen and (max-width:970px) {
    .profile_btn {
        width: 30%;
    }
}

/* nav header responsive end ---------------------- */
/* nav header end ----------------------------------- */



/* make class and apply start ------------------------ */
.p_3 a {
    font-size: 13px;
    color: #fff;
}

/* make class and apply end ------------------------------- */






























/* footer start -------------------------- */
.footer_bg {
    width: 80%;
}

.footer_bg input {
    width: 100%;
    outline: none;
}

.inpt input::placeholder {
    font-size: 13px;
}

.subs_button {
    width: 20%;
}

.subs_button button {
    width: 100%;
    padding: 5px;
    border: 1px solid orange;
    outline: none;
    color: #fff;
    background: orange;
    font-size: 12px;

}

.footer_bg {
    width: 100%;
    color: #fff;
}

/* footer end ---------------------------------------------------------- */